<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>


	<title></title>

	<link rel="stylesheet" type="text/css" th:href="@{/css/validacion.css}" href="/css/validacion.css">
	<style type="text/css">
		select {
			visibility: hidden;
		}
	</style>

</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
				aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" th:href="@{/}">Home
							<span class="visually-hidden">(current)</span>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#pistaTenis">Pistas de Tenis</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#pistaPadel">Pistas de Padel</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#pistaBaloncesto">Pistas de Baloncesto</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/listaReservas}">Reservas</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container col-12 ml-5 mt-5">
		<div class="row">
			<div class="col-md-12 ">
				<div class="well well-sm">
					<form id="formulario" class="col-12 col-md-9 ml-5" method="POST" th:action="addReserva"
						th:object="${reserva}">
						<fieldset>


							<h1><span th:text="${reserva.id} ? 'Editar' : 'Nueva'"></span> Reserva </h1>


							<div class="formulario__grupo" id="grupo__nombreCliente">
								<label for="nombre" class="formulario__label">Nombre Cliente</label>
								<div class="formulario__grupo-input">
									<input required type="text" class="formulario__input" name="nombreCliente"
										id="nombreCliente" th:field="*{nombreCliente}">
									<i class="formulario__validacion-estado fas fa-times-circle"></i>
								</div>
								<p class="formulario__input-error">El nombre tiene que tener menos de 100 caracteres y solo
									puede tener letras .</p>
							</div>


							<div class="formulario__grupo" id="grupo__apellidosCliente">
								<label for="nombre" class="formulario__label">Apellidos Cliente</label>
								<div class="formulario__grupo-input">
									<input required type="text" class="formulario__input" name="apellidosCliente"
										id="apellidosCliente" th:field="*{apellidosCliente}">
									<i class="formulario__validacion-estado fas fa-times-circle"></i>
								</div>
								<p class="formulario__input-error">Los apellidos tienen que tener menos de 100 caracteres y solo
									puede tener letras .</p>
							</div>

							<div>
								<label for="fecha">Fecha Reserva</label>
								<div>
									<input required type="datetime-local" name="fechaReserva" id="fechaReserva"
										th:field="*{fechaReserva}" min="2021-05-23T00:00" max="2021-06-12T12:00">

								</div>

							</div>

							<select required th:field="*{pista}">

								<option selected="true" th:each="pista : ${pistas}" th:value="${pista.id}"
									th:text="${pista.id}">
								</option>

							</select>

							<select required th:field="*{id}">

								<option selected="true" th:value="${id}" th:text="${id}">
								</option>

							</select>


							<div class="formulario__grupo" id="grupo__terminos">
								<label class="formulario__label">
									<input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
									Acepto los Terminos y Condiciones
								</label>
							</div>

							<div class="formulario__mensaje" id="formulario__mensaje">
								<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el
									formulario correctamente. </p>
							</div>

							<div class="formulario__grupo formulario__grupo-btn-enviar">
								<button type="submit" class="formulario__btn">Enviar</button>

							</div>

						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>





	<script type="text/javascript" th:src="@{/javascript/validacion.js}"></script>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>

</html>